*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Gotham Rounded', sans-serif;
}

body {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(40, 40, 40));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: aliceblue;
}

a, a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

h2, p {
  margin: 0;
}

.header {
  margin: 3rem;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 35px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(50, 50, 50);
  border-radius: 5px;
  box-shadow: 0 5px 10px black;
  width: 15rem;
  height: 6rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}