*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Gotham Rounded', sans-serif;
}

body {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(40, 40, 40));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: aliceblue;
}